@model IEnumerable<Pizza>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Pizza</h1>

<table class="tabel tabel-border tabel-striped" align="center">
    <thead>
        <tr>
            <th>
                Pizza Name
            </th>
            <th>
                PizzaPrice
            </th>
            <th>
                Pizza Img
            </th>
            <th>
                Pizza Filling
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.PizzaName
                </td>
                <td>
                    @obj.PizzaPrice
                </td>
                <td>
                    <img src="~/image/@obj.PizzaImage" alt="EROR" />
                </td>
                <td>
                    @obj.PizzaImage;
                </td>
            </tr>
        }
    </tbody>
</table>